@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}
<a class="btn btn-success" href="/Admin/Table/Add">Masa Ekle</a>
<div>
    <table id="dataArea" class="display" width="100%" data-page-length='25'>
        <thead>
            <tr>
                <th>Masa</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
<script>
    function Delete(id) {
        var token = localStorage.getItem("token");
        fetch(ApiUrl +'table/delete?id=' + id, {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
                'token': token
            }
        })
            .then(data => {
                document.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }
    function init() {
        var token = localStorage.getItem("token");
        fetch(ApiUrl+'table/list', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
                'token': token
            }
        })
            .then(response => response.json())
            .then(data => {
               

                $('#dataArea').DataTable({
                    data: data.list,
                    columns: [
                        { data: 'tableNo' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return "<a href='/Admin/Table/Detail?id=" + row.id + "'>Detay</a> / <a href=\"javascript:Delete('" + row.id + "')\">Sil</a>";
                            }
                        }
                    ],
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });

    }
    $(document).ready(function () {
        init();
    })
</script>

