@{
    ViewData["Title"] = "Home Page";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ana Sayfa</title>
    <style>
       img{
           border-radius:9px;
       }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="font-family:'Trebuchet MS';">Hoş Geldiniz</h1>
    
    
    
    </div>
    <div class="container">
        <img src="~/İmages/4.jpg" alt="Alternate Text" />

    </div>
</body>
</html>