@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>

    function login() {
       

        var email = $("#email").val();
        var password = $("#password").val();
        const data = { email: email, password: password };

        fetch(ApiUrl +'user/login', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                if (data.token) {
                    localStorage.setItem("token", data.token);
                    document.location.href = "/Dashboard" ;
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        
    }
    $(document).ready(function () {
        $("input").keyup(function (event) {
            if (event.keyCode === 13) {
                login();
            }
        });
    })
</script>
<style>
    img {
        width: 510px;
        height: 350px;
        position: relative;
        left: 600px;
        bottom: 150px;
        border-radius: 5px;
    }
</style>

<div class="login-register-form">
    <h1>Hoş geldiniz</h1>
    <div class="row">
        <div class="col-12 mb-20">
            <h5>Email</h5>
            <input class="form-control" type="text" placeholder="Email" id="email">
        </div>
        <div class="col-12 mb-20">
            <h5>Şifre</h5>
            <input  class="form-control" type="password" placeholder="Şifre" id="password">
        </div>
        <div class="col-12 mt-10">
            <button id="myBtn" class="button button-primary button-outline" onclick="javascript:login()"> <i class="fa-solid fa-mug-saucer"></i>Giris Yap</button>
        </div>
    </div>

</div>
<div><img src="~/İmages/Kahve2.jpg" alt="Alternate Text" /></div>
<link rel="shortcut icon" type="image/x-icon" href="~/admin/assets/images/favicon.ico">
<link rel="stylesheet" href="~/admin/assets/css/vendor/bootstrap.min.css">
<link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
<link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
<link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">
<link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">
<link rel="stylesheet" href="~/admin/assets/css/helper.css">
<link rel="stylesheet" href="~/admin/assets/css/style.css">
<link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

